@charset "utf-8";

*{
    padding: 0;
}
body {
  font-family: "Hi Melody", serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
.flex-1{
    flex: 1;
}
.flex-2{
    flex: 2;
}
.flex-3{
    flex: 3;
}
.flex-4{
    flex: 4;
}

/* header */
#main_nav{
    background-color: dodgerblue;
    height: 15%;
    width: 100%;
}
#main_nav a{
    color: white;
}
#home {
    font-size: 1.5rem;
}
#add_btn{
    background-color: rgb(28, 99, 169);
    padding: .5rem;
    border-radius: 10px;
    border: 0;
    color: white;
}
.main_nav_btn{
    background: none;
    border: 0;
}
.main_nav_btn span{
    color: white;
}
#menu_list{
    position: absolute;
    top: 11%;
    left: 85%;
}
#menu_list button  {
    border: 0;
    background-color: white;
    padding: .5rem;
}

/* main */
#lists{
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.list_body {
    position: relative;
}
.list_body input{
    position: absolute;
    top: 5%;
    left: 1%;
}
